#include <tunables/global>

profile /bin/mount flags=(complain){
	#include <abstractions/base>

	capability sys_admin,
 
	/sys/devices/virtual/block/**	r,
	/dev/**	r,
}
